APP_NAME="Partageons La Forêt"
APP_URL=http://localhost:8888

DB_HOST=localhost
DB_NAME=cool5792_sports_events
DB_USER=root
DB_PASS=root
DB_PORT=3306

# MailHog local : MAIL_HOST=localhost, MAIL_PORT=1025, MAIL_ENCRYPTION vide, MAIL_USERNAME/PASSWORD vides
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_EMAIL=noreply@partageonslaforet.be
MAIL_FROM_NAME="Partageons La Forêt"

DEBUG=true
