# Configuration de base
Options +FollowSymLinks
RewriteEngine On

# Forcer HTTPS (sauf en local)
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1)(:[0-9]+)?$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Définir les types MIME
AddType application/javascript .js
AddType text/css .css

# Règles spécifiques pour les fichiers JavaScript
RewriteRule ^assets/js/(.+)\.js$ assets/js/$1.js [L]

# Ne pas rediriger les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Permettre l'accès direct aux fichiers PHP dans templates/events
RewriteCond %{REQUEST_URI} !^/templates/events/.*\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Règles pour les fichiers statiques
<FilesMatch "\.(js|css|jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Rediriger le reste vers index.php
#RewriteRule ^(.*)$ index.php [L]
